<html>
    <head>
      {% if title %}
      <title>{{ title }} - Xbow Portal BETA</title>
      <link rel="stylesheet" type="text/css" href='{{ url_for('static', filename='style.css') }}'>
      {% else %}
      <title>Welcome to Xbow Portal BETA</title>
      {% endif %}
    </head>
    <body>
        <p>
          Xbow Portal: 
          <a href="{{ url_for('index') }}">Home</a>
          <a href="{{ url_for('cluster_info') }}">Cluster</a>
          <a href="{{ url_for('jobs') }}">Jobs</a>
          <a href="{{ url_for('submit_gromacs') }}">New Gromacs Job</a>
          <a href="{{ url_for('submit_amber') }}">New Amber Job</a>
        </p>
        <hr>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </body>
</html>
